form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
}
input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
    border: 2px solid red;
}

.alert {
    color: red;
}