<form (ngSubmit)="onSubmit($event)" [formGroup]="drumForm">
    <input placeholder="name" name="name" formControlName="name">
    <input placeholder="sound" name="sound" formControlName="sound">
    <select formControlName="animation">
        <option value="" disabled selected>Animation</option>
        <option value="fade">Fade</option>
        <option value="fall">Fall</option>
    </select>
    <input type="submit" value="submit" [disabled]="!drumForm.valid">
    <div *ngIf="(name.invalid && name.touched) || (sound.invalid && sound.touched) || (animation.invalid && animation.touched)" class="alert">
        <div *ngIf="name.touched && name.errors?.required">
            Name is required
        </div>
        <div *ngIf="name.touched && name.errors?.minlength">
            Name must be at least 4 chararcters long.
        </div>
        <div *ngIf="sound.touched && sound.errors?.required">
            Sound is required
        </div>
        <div *ngIf="sound.touched && sound.errors?.minlength">
            Sound must be at least 3 chararcters long.
        </div>
        <div *ngIf="animation.touched && animation.errors?.required">
            animation is required
        </div>
    </div>
</form>

