.tap-holder {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
h1 {
    opacity: 0;
    height: 0px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all .5s ease;
    display: none;
}

.tapping h1 {
    display: block;
    opacity: 1;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.tapping h3 {
    opacity: 0;
    height: 0px;
    margin: 0px;
}
h3 {
    transition: all .5s ease;
}

.tap-holder:hover {
    cursor: pointer;
}
.tap-holder:hover h3 {
    transform: scale(1.2);
}

