/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: spectral;
    src: url('./assets/Spectral-Light.ttf')
}

body {
    background-color: rgba(0,0,0,.9);
    font-family: spectral;
    font-size: 1.5rem;
}

button, input[type="submit"] {
    font-family: spectral;
    background-color: black;
    color: white;
    border: 2px solid #fff; 
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

input, select {
    font-family: spectral;
    /* background-color: black;
    color: white;
    border: 2px solid #fff;  */
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

